---
# Only the main Sass file needs front matter (the dashes are enough)
---
$text-color: #a9a9b3;
$body-color: #a9a9b3;
$link-color:  white ;
$masthead-link-color: #a9a9b3;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero-image {width: 100%; height: auto; -ms-interpolation-mode: bicubic;}
.page__meta {color: white;}
.archive__subtitle {color: white;}
.pagination li a {color: #a9a9b3;}
.masthead {position: relative; background:#252627; border-bottom: 1px solid #292a2d; -webkit-animation: intro 0.3s both; animation: intro 0.3s both; -webkit-animation-delay: 0.15s; animation-delay: 0.15s; z-index: 20;}
.toc {background: #a9a9b3;border: 1px solid #252627;}
.toc a:hover { color: black;}
.greedy-nav {background:#252627;}
.page__title {color: white;}

html {font-size: 12px; color: #a9a9b3; background-color: #292a2d;
  @include breakpoint($medium) {
    font-size: 12px;
  }

  @include breakpoint($large) {
    font-size: 14px;
  }

  @include breakpoint($x-large) {
    font-size: 16px;
  }
}